header {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.49);
}

header h1 {
  margin-bottom: 20px;
  align-self: center;
  font-weight: bolder;
  color: red;
}

.navBar {
  align-self: center;
}

.navBar a {
  padding: 0 20px;
  text-decoration: none;
}

/* Responsive */

@media (min-width: 600px) and (max-width: 1135px) {
  .navBar a {
    font-size: 1.3rem;
    transition: ease-in-out 0.3s;
  }

  .navBar a:hover {
    color: red;
    text-decoration: underline 3px red;
    text-underline-offset: 7px;
  }
}

@media screen and (min-width: 1136px) {
  header {
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0;
  }

  header h1 {
    margin-bottom: 0;
  }

  .navBar a {
    font-size: 1.3rem;
    transition: ease-in-out 0.3s;
  }

  .navBar a:hover {
    color: red;
    text-decoration: underline 3px red;
    text-underline-offset: 7px;
  }
}
