.Card h4 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.6rem;
  font-weight: bolder;
  text-shadow: 3px 3px 6px red;
}

.Card a img {
  width: 100vw;
  height: 220px;
}

.Card p {
  text-align: center;
  margin: 20px 0;
  text-shadow: 3px 3px 6px red;
  font-size: 0.9rem;
}

.slick-dots {
  position: static;
  width: 100%;
  margin-top: 20px;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  z-index: 1;
  right: 10px;
}
