@font-face {
  font-family: "Night";
  src: url("./assets/Fonts/Night/Night\ DEMO.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Night";
  color: white;
}

body {
  background-image: url("./assets/Images/bg_port-folio.avif");
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
}

/* Responsive */

@media screen and (min-width: 361px) {
  body {
    width: 100vw;
  }
}
